@media screen and (max-width: 480px) {
	#app {
		width: 100vw;
		padding: 1vh 0;
    height: 90vh;
    
	}
	h1{
    font-size: 1.75rem;
  }
	.note{
		padding: 0.2rem;
    font-size: 1rem;
	}
	#note {
		width: 90vw;
		padding: 0.1rem;
	}
	#notes {
		display: grid;
    grid-template-columns: 1fr;

    gap: .5rem;
    max-width: 80vw;
    max-height: 80vh;
	}
	p{
		font-size: 1rem;
		max-height: 20vh;
	}
  textarea{
    font-size: 1rem;
  }
	.button {
    &_delete{
      width: 35px;
      height: 35px;
      min-width: 35px;
    }
		&_save {
			font-size: 1.5rem;
		}
	}
}
